.main-div {
  border: 2px;
  border-radius: 20px;
  margin-bottom: 0.05%;
  width: 32.333%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  background: linear-gradient(to bottom right, #202020c1, #7c7c7cc1);
  border: 1px solid;
  border-color: lightgray;
  border-radius: 12px;
  color: #ffffff;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 22px;
  font-weight: 500;
  outline: transparent;
  padding: 0 1rem;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.test-class {
  width: fit-content;
  margin: auto;
  margin-right: 20px;
}

.test-class button {
  background: linear-gradient(to bottom right, #b8b6b9ee, #ffffffff);
  font-size: medium;
  font-weight: bold;
  width: 150px;
  margin: 10px;
  height: 30px;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
}

.test-class input {
  background: linear-gradient(to bottom right, #b8b6b9ee, #ffffffff);
  width: 200px;
  height: 25px;
  margin: 10px;
  margin-right: 20px;
  border-radius: 20px;
  border: 0px;
  text-align: center;
}

.left-margin {
  margin-left: 20px;
}

.del-button:hover{
  background: linear-gradient(to bottom right, #ff0000ee, rgb(255, 100, 100));
  color: white;
}
