.flex-filter {
  display: flex;
}

.filter-main {
  text-align: center;
  margin-top: 10px;
  background-color: #909090aa;
  border: 2px solid;
  border-color: #3d3d3dcc;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.filter-main button {
  background: linear-gradient(to bottom right, #b8b6b9ee, #ffffffff);
  border: 0px;
  color: black;
  border-radius: 30px;
  width: 140px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  margin: auto;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.center-h {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 100px;
}

.rep-btn {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 20px;
}

.filter-main input {
  background: linear-gradient(to bottom right, #b8b6b9ee, #ffffffff);
  width: 100px;
  margin: 5px;
  height: 25px;
  width: 120px;
  border-radius: 20px;
  border: 0px;
  text-align: center;
}
.filter-main input::placeholder {
  color: black;
}
